<html>
    <head>
          <title>Social Networking</title>
           
<link rel="stylesheet" href="css/styles.css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>

    </head>

<body ng-app="myApp" ng-controller="BaseController as base">
   
    
<div class="section center graphic">
    <h1 class="center">Social Networking</h1>
    <img src="img/network_graphic.png" alt="graphic" />
    
</div>

<div class="section center information">
    <div class="sectioncontent">
        <h2>Social Media Networks</h2>
        <br />
        <p>Social media networks have become increasingly popular over the past decade. Just in the last five years, the total number of social network users has jumped from <strong>970 million</strong> to over <strong>2 billion</strong>. The data shown presented below shows the overwhelming statistics for some of the most popular social media networks. Scroll down or use the navigational links below to jump to each section. Hover over the bar and circle graph to reveal exact data. </p>
        <div class="row">
        <div class="datalink graph1 col-md-4">
            <div><a href="#users">Users</a></div>
        </div>
        <div class="datalink graph2 col-md-4">
            <div><a href="#data">Data</a></div>
        </div>
        <div class="datalink graph3 col-md-4">
            <div><a href="#share">Share</a></div>
        </div>
        </div>
    </div>
</div>

<div class="section1 center graphs" id="users">
    <div class="sectioncontent">
        <div class="bargraph"><script type="text/javascript" src="js/grouped.js"></script></div>
        <div class="tooltip styles"></div>
        <h2>Active Network Users</h2>
        <h4>Number of top network users in millions from 2012 to 2015</h4>
    </div>
</div>
<div class="bottom"></div>


<div class="section center angular" id="data">
    <div class="sectioncontent">
        <div ng-controller="NetworksController as networkCtrl">
        <h2>Popular Networks</h2>
        <br />
        <p>There are quite a few exceptionally popular networks today and listed below is just some of the top few. As you can seen from the graph above as well as the data in the table below, Facebook is by far the most used social media network with over <strong>1 billion</strong> active users.</p>
        <br />
        <div class="row">
            <table class="table">
                <thead>
                    <tr class="tealtext">
                        <th>Network</th>
                        <th>Total Users (Billions)</th>
                        <th>Percentage Share</th>
                        <th>Years Active</th>
                    </tr>
                </thead>
                <tr ng-repeat="networks in networkCtrl.networks">
                    <td>{{networks.name}}</td>
                    <td>{{networks.share}}</td>
                    <td>{{networks.visits}}</td>
                    <td>{{networks.active}}</td>
                </tr>
            </table>
        </div>
        </div> <!-- Network ctrl -->
    </div>
</div>

<div class="section center" id="share">
<div class="row graph">
    <h1>Percent Market Share</h1>
    <h4>U.S. market share of leading social media websites as of April 2015</h4>
    <br/>
<div id="chart">
    <script type="text/javascript" src="js/donut.js"></script>
</div>
</div>
<div class="center">JOMC 583 Final Project | Shae Allison</div>
</div>



 <script type="text/javascript" src="js/app.js"></script>
 <script type="text/javascript" src="js/network.js"></script>
 <!-- <script type="text/javascript" src="js/grouped.js"></script>
 <script type="text/javascript" src="js/donut.js"></script> -->

 
 
</body>
</html>